:root {
    --nav-color: rgb(37, 168, 212);
    --background-gray: rgb(230, 233, 236);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 280px 1fr;
    min-height: 100vh;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.container {
    grid-template-columns: 2;
    display: grid;
    grid-template-columns: 1fr 360px;
    grid-template-rows: 160px 1fr;
}

/* Nav */

nav {
    background-color: var(--nav-color);
    grid-column: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.25rem;
}

.logo i {
    transform: scale(2);
    margin-right: 24px;
}

nav ul li {
    list-style: none;
    padding: 8px 0;
}

nav ul li a {
    display: inline-block;
    width: 80%;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

nav li > i {
    display: inline-block;
    width: 40px;
    color: white;
}

/* Header */

.container > header {
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: 60px 1fr;
}

.container header img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.search {
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-right: 80px;
    gap: 30px;
}

.search input[type="text"] {
    flex: 1;
    max-width: 600px;
    margin-right: auto;
    border: none;
    border-radius: 16px;
    padding: 6px 12px;
    background-color: var(--background-gray);
}

.search .notifications {
    transform: scale(1.25);
}

.user-name {
    font-weight: bold;
}

.actions {
    background-color: white;
    padding-inline: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions .user-card {
    display: flex;
    align-items: center;
    gap: 30px;
}

.actions img {
    transform: scale(1.4);
}

.actions .salutation {
    font-size: .9rem;
    font-weight: bold;
    margin-bottom: 4px;
}

.actions .user-name {
    font-size: 1.5rem;
}

.actions .buttons {
    display: flex;
    gap: 20px;
}

.actions button {
    border: none;
    border-radius: 24px;
    background-color: var(--nav-color);
    color: white;
    width: 100px;
    padding: 12px 0;
    font-weight: bold;
    font-size: 1rem;
}

.actions button:hover {
    cursor: pointer;
    outline: 2px solid var(--nav-color);
    background-color: white;
    color: var(--nav-color);
}

/* Main */

main {
    background-color: var(--background-gray);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px repeat(3, 1fr) 20px;
    gap: 30px;
    padding: 20px;
}

main > h3 {
    font-size: 1.35rem;
    grid-column: 1 / -1;
}

.project-card {
    background-color: white;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .15);
}

.project-card .left-border-color {
    min-width: 8px;
    background-color: var(--nav-color);
}

.project-card .content {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.project-card .content p {
    color: grey;
}

.project-card .links {
    margin-top: auto;
    align-self: end;
    display: flex;
    gap: 30px;
}

.project-card .links a {
    color: black;
    transform: scale(1.25);
}

/* Aside */

.aside {
    background-color: var(--background-gray);
    display: grid;
    grid-template-rows: 20px 1fr 20px 1fr 20px;
    padding: 20px 40px 20px 10px;
    gap: 30px;
}

.aside h3 {
    font-size: 1.35rem;
}

.announcements,
.trending {
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .15);
}

.announcements {
    background-color: white;
}

.trending {
    background-color: white;
}